<script type="text/x-handlebars-template" id="root-main-template">
  <div class="wjs-header">
    <h1>
      <p class="container">Tests</p>
    </h1>
  </div>
  <div id="results" class="container"></div>
</script>