@editorHeight: 150px;
@editorBackground: @green;
@editorTextColor: black;
@currentLineBackground: lighten(@green, 5%);
@currentLineColor: black;
@textSelectedBackground: white;
@cursorWidth: 5px;
@cursorColor: @black;